.control{
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:center;
   width:100%;
   border: 1px solid #000; 
   border-radius: 25px 25px 0 0;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}


.App-logo {
    animation: logo-spin infinite 20s linear;
 }


.App-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
